/* INICIO DO CSS DO POPUP DE CADASTRAR */
.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup.active {
  opacity: 1;
}
.popup-titulo {
  position: relative;
  text-align: center;
  color: #d0e9da;
}
.popup-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2%;
  right: -2%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-fechar path {
  fill: #fff;
}
.popup-input {
  background-color: #d0e9da;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #000;
  font-weight: bold;
}
.popup-input-label {
  font-weight: bold;
}
.popup-input::placeholder {
  color: #999;
  text-decoration: underline;
}
.popup-solicitar {
  position: relative;
  left: 20%;
  text-align: center;
  color: #d0e9da;
  border-radius: 50px;
  font-size: medium;
  background-color: #064c2d;
}
.popup-dropdowns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.popup-dropdown {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}
.popup-dropdown-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.popup-dropdown-select {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #d0e9da;
  font-size: 16px;
  color: #000000;
  color: #000;
  font-weight: bold;
}
.popup-dropdown-select::-ms-expand {
  display: none;
}
.popup-dropdown-select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #064c2d;
}
.popup-dropdown-select option {
  background-color: #d0e9da;
  color: #000000;
  font-weight: bold;
}
.popup-dropdown-select::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.popup-dropdown-select:focus::after {
  border-top-color: #064c2d;
}
.formaHeaderPopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.formaHeaderPopup svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaHeaderPopup .shape-fill {
  fill: #064c2d;
}
.formaFooterPopup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.formaFooterPopup svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaFooterPopup .shape-fill {
  fill: #064c2d;
}
/* INICIO DO CSS DO POPUP DINÂMICO*/
.popup-dinamico {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.popup-dinamico-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-dinamico h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.popup-dinamico-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-dinamico-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-dinamico-fechar path {
  fill: #fff;
}
.popup-dinamico-ok {
  position: relative;
  left: 46%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
/* INICIO CSS DO POPUP DE NOTIFICAÇÃO */
.popup-notificacao {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content-notificacao {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-notificacao.active {
  opacity: 1;
}
.popup-notificacao-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-notificacao-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-notificacao-fechar path {
  fill: #fff;
}
.retangulo-notificacao {
  top: 10%;
  left: 0%;
  width: 100%;
  height: 80%;
  background-color: #75d69f;
  margin: 0 auto;
  position: absolute;
  overflow-y: scroll;
  border: 1px solid black;
}
.aprovar {
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(124, 123, 123, 0.404);
  transition: transform 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36),
    box-shadow 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: #4caf50;
}
.negar {
  color: white;
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(124, 123, 123, 0.404);
  transition: transform 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36),
    box-shadow 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: #f44336;
}
/* INICIO DO CSS DOS POPUP DE ESCOLHA*/
.popup-escolha {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.popup-escolha-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-escolha h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.popup-escolha-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-escolha-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-escolha-fechar path {
  fill: #fff;
}
.popup-escolha-ok{
  position: relative;
  left: 45%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
/* INICIO DO CSS DO POPUP DA EQUIPE */
.popup-equipe {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content-equipe {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-equipe.active {
  opacity: 1;
}
.popup-titulo-equipe {
  position: relative;
  text-align: center;
  color: #d0e9da;
}
.popup-fechar-equipe {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2%;
  right: -2%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-fechar-equipe svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-fechar-equipe path {
  fill: #fff;
}
.retangulo-equipe {
  position: relative;
  width: 100%;
  height: 60%;
  padding-bottom: 10px;
  background-color: #75d69f;
  margin: 0 auto;
  overflow-y: scroll;
  border: 1px solid black;
}
/* INICIO DO CSS DO POPUP DE ESCOLHA DA NOTIFICAÇÃO */
.popup-escolha-notificacoes {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.popup-escolha-notificacoes-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-escolha-notificacoes.active {
  opacity: 1;
}
.popup-escolha-notificacoes h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.popup-escolha-notificacoes-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-escolha-notificacoes-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-escolha-notificacoes-fechar path {
  fill: #fff;
}
.popup-minhas{
  position: relative;
  left: 0%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
.popup-pendentes{
  position: relative;
  left: 12%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
/* INICIO CSS DO POPUP DE NOTIFICAÇÃO PESSOAL */
.popup-notificacao-minha {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content-notificacao-minha {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-notificacao-minha.active {
  opacity: 1;
}
.popup-notificacao-minha-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-notificacao-minha-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-notificacao-minha-fechar path {
  fill: #fff;
}
.retangulo-notificacao-minha {
  top: 12%;
  left: 0%;
  width: 100%;
  height: 20%;
  background-color: #75d69f;
  margin: 0 auto;
  position: absolute;
  border: 1px solid black;
}
.popup-mensagem {
  font-size: 18px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
.popup-mensagem2 {
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
.popup-mensagem3 {
  font-size: 18px;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
.popup-notificacao-ok {
  position: absolute;
  top: 85%;
  left: 47%;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
.botoes-relatorio form {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.botoes-relatorio button {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.btn-escolha-relatorio{
  font-size: larger;
  background-color: #09653c;
}