.container {
  display: flex;
  justify-content: center;
}
.formLogin {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #76d4a0;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 40px;
}
.titulo {
  display: flex;
  justify-content: center;
}
.inputMatricula {
  background-color: #d0e9da;
}
.inputSenha {
  background-color: #d0e9da;
}
.inputIcone {
  position: relative;
  display: inline-block;
}
.inputIcone input[type="text"] {
  background-image: url("/site/img/user-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 20px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 10px 12px;
  padding-left: 30px;
  font-size: 16px;
  color: #555;
}
.inputIcone input[type="password"] {
  background-image: url("/site/img/key-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 20px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 10px 12px;
  padding-left: 30px;
  font-size: 16px;
  color: #555;
}
.botaoLogin {
  background-color: #064c2d;
  display: flex;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(124, 123, 123, 0.404);
  transition: transform 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36),
    box-shadow 0.2s cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.botaoLogin:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(124, 123, 123, 0.404);
}