/* INICIO DO CSS DO POPUP DE CADASTRAR */
.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup.active {
  opacity: 1;
}
.popup-titulo {
  position: relative;
  text-align: center;
  color: #d0e9da;
}
.popup-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2%;
  right: -2%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-fechar path {
  fill: #fff;
}
.popup-input {
  background-color: #d0e9da;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
  margin: 15px;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.popup-input.nome {
  background-position: 5px;
  background-image: url("/site/img/user-solid.svg");
}
.popup-input.email {
  background-position: 5px;
  background-image: url("/site/img/envelope-solid.svg");
}
.popup-input.matricula {
  background-position: 5px;
  background-image: url("/site/img/id-card-solid.svg");
}
.popup-input::placeholder {
  color: #999;
  text-decoration: underline;
}
.popup-cadastrar {
  position: relative;
  left: 25%;
  text-align: center;
  color: #d0e9da;
  border-radius: 50px;
  font-size: medium;
  background-color: #064c2d;
}
.popup-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.popup-titulo2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.popup-opcoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popup-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.popup-radio label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}
.popup-radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0%;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid #000;
}
.popup-radio input[type="radio"]:checked + label:before {
  background-color: #064c2d;
  border-color: black;
}
.popup-dropdowns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.popup-dropdown {
  margin-bottom: 20px;
}
.popup-dropdown-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.popup-dropdown-select {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #d0e9da;
  font-size: 16px;
  color: #000000;
}
.popup-dropdown-select::-ms-expand {
  display: none;
}
.popup-dropdown-select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #064c2d;
}
.popup-dropdown-select option {
  background-color: #d0e9da;
  color: #000000;
}
.popup-dropdown-select::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.popup-dropdown-select:focus::after {
  border-top-color: #064c2d;
}
.formaHeaderPopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.formaHeaderPopup svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaHeaderPopup .shape-fill {
  fill: #064c2d;
}
.formaFooterPopup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.formaFooterPopup svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaFooterPopup .shape-fill {
  fill: #064c2d;
}
/* INICIO DO CSS DOS POPUPS DE CONFIRMAÇÃO E NEGAÇÃO */
.popup-confirmacao {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.popup-confirmacao-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-confirmacao h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.popup-confirmacao-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-confirmacao-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-confirmacao-fechar path {
  fill: #fff;
}
.popup-confirmacao-ok{
  position: relative;
  left: 46%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
.popup-negacao {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.popup-negacao-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-negacao h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.popup-negacao-fechar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: -1%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-negacao-fechar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-negacao-fechar path {
  fill: #fff;
}
.popup-negacao-ok{
  position: relative;
  left: 46%;
  text-align: center;
  color: #d0e9da;
  border-radius: 20px;
  font-size: medium;
  background-color: #064c2d;
}
/* INICIO DO CSS DO POPUP DE EDITAR */
.popup-editar {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup-content-editar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #76d4a0;
  border-radius: 10px;
}
.popup-editar.active {
  opacity: 1;
}
.popup-titulo-editar {
  position: relative;
  text-align: center;
  color: #d0e9da;
}
.popup-fechar-editar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2%;
  right: -2%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.popup-fechar-editar svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.popup-fechar-editar path {
  fill: #fff;
}
.popup-input-editar {
  background-color: #d0e9da;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
  margin: 15px;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.popup-input-editar.nome {
  background-position: 5px;
  background-image: url("/site/img/user-solid.svg");
}
.popup-input-editar.email {
  background-position: 5px;
  background-image: url("/site/img/envelope-solid.svg");
}
.popup-input-editar.matricula {
  background-position: 5px;
  background-image: url("/site/img/id-card-solid.svg");
}
.popup-input-editar::placeholder {
  color: #999;
  text-decoration: underline;
}
.popup-btn-editar {
  position: relative;
  left: 35%;
  text-align: center;
  color: #d0e9da;
  border-radius: 50px;
  font-size: medium;
  background-color: #064c2d;
}
.popup-radio-editar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.popup-titulo2-editar {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.popup-opcoes-editar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popup-radio-editar input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.popup-radio-editar label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}
.popup-radio-editar label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0%;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid #000;
}
.popup-radio-editar input[type="radio"]:checked + label:before {
  background-color: #064c2d;
  border-color: black;
}
.popup-dropdowns-editar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.popup-dropdown-editar {
  margin-bottom: 20px;
}
.popup-dropdown-label-editar {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.popup-dropdown-select-editar {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #d0e9da;
  font-size: 16px;
  color: #000000;
}
.popup-dropdown-select-editar::-ms-expand {
  display: none;
}
.popup-dropdown-select-editar:focus {
  outline: none;
  box-shadow: 0px 0px 5px #064c2d;
}
.popup-dropdown-select-editar option {
  background-color: #d0e9da;
  color: #000000;
}
.popup-dropdown-select-editar::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.popup-dropdown-select-editar:focus::after {
  border-top-color: #064c2d;
}
.formaHeaderPopupEditar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.formaHeaderPopupEditar svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaHeaderPopupEditar .shape-fill {
  fill: #064c2d;
}
.formaFooterPopupEditar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.formaFooterPopupEditar svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
  z-index: -1;
}
.formaFooterPopupEditar .shape-fill {
  fill: #064c2d;
}